.u-section-1 .u-sheet-1 {
  min-height: 539px;
}

.u-section-1 .u-text-1 {
  font-family: Oswald-Bold;
  text-transform: uppercase;
  margin: 83px 527px 0 98px;
}

.u-section-1 .u-icon-1 {
  width: 64px;
  height: 64px;
  margin: -95px 391px 0 auto;
}

.u-section-1 .u-icon-2 {
  width: 79px;
  height: 79px;
  margin: -119px 231px 0 auto;
  padding: 0;
}

.u-section-1 .u-icon-3 {
  width: 64px;
  height: 64px;
  margin: -14px 100px 0 auto;
}

.u-section-1 .u-text-2 {
  font-size: 1.25rem;
  margin: 28px 527px 0 98px;
}

.u-section-1 .u-group-1 {
  width: 442px;
  min-height: 247px;
  height: auto;
  margin: -36px 44px 0 auto;
}

.u-section-1 .u-shape-1 {
  width: 250px;
  height: 41px;
  margin: 20px 37px 0 auto;
}

.u-section-1 .u-shape-2 {
  width: 200px;
  height: 41px;
  margin: -41px 20px 0 auto;
}

.u-section-1 .u-group-2 {
  width: 267px;
  min-height: 128px;
  margin: 0 20px 0 auto;
}

.u-section-1 .u-container-layout-2 {
  padding: 30px 18px;
}

.u-section-1 .u-image-1 {
  width: 38px;
  height: 34px;
  margin: 10px 127px 0 67px;
}

.u-section-1 .u-text-3 {
  font-family: Oswald-Bold;
  font-size: 1.25rem;
  margin: -32px 55px 0 107px;
}

.u-section-1 .u-shape-3 {
  width: 14px;
  height: 20px;
  margin: 15px auto 0 0;
}

.u-section-1 .u-shape-4 {
  width: 106px;
  height: 66px;
  margin: -128px auto 0 89px;
}

.u-section-1 .u-rotation-parent-1 {
  width: 69px;
  height: 60px;
  margin: 0 auto 0 34px;
}

.u-section-1 .u-group-3 {
  width: 106px;
  background-image: none;
  min-height: 62px;
  margin: -60px auto 0 89px;
}

.u-section-1 .u-container-layout-3 {
  padding: 8px 29px;
}

.u-section-1 .u-image-2 {
  width: 25px;
  height: 21px;
  margin: 0 auto 0 25px;
}

.u-section-1 .u-shape-6 {
  width: 243px;
  height: 15px;
  margin: 0 auto 0 89px;
}

.u-section-1 .u-shape-7 {
  width: 61px;
  height: 61px;
  margin: -38px auto 0 42px;
}

.u-section-1 .u-shape-8 {
  width: 61px;
  height: 61px;
  margin: -61px 58px 0 auto;
}

.u-section-1 .u-shape-9 {
  width: 38px;
  height: 38px;
  margin: -50px auto 0 54px;
}

.u-section-1 .u-shape-10 {
  width: 38px;
  height: 38px;
  margin: -38px 70px 0 auto;
}

.u-section-1 .u-shape-11 {
  width: 47px;
  height: 47px;
  background-image: none;
  margin: -145px auto 0 142px;
}

.u-section-1 .u-shape-12 {
  width: 31px;
  height: 47px;
  margin: -47px auto 0 108px;
}

.u-section-1 .u-icon-4 {
  width: 141px;
  height: 141px;
  margin: -141px auto 0 322px;
  padding: 0;
}

.u-section-1 .u-icon-5 {
  width: 141px;
  height: 141px;
  margin: -141px auto 0 462px;
  padding: 0;
}

.u-section-1 .u-icon-6 {
  width: 139px;
  height: 139px;
  margin: -139px auto 0 167px;
  padding: 0;
}

.u-section-1 .u-btn-1 {
  font-size: 1.25rem;
  background-image: none;
  font-weight: 700;
  margin: -178px auto 0 98px;
  padding: 14px 96px 15px 94px;
}

.u-section-1 .u-btn-2 {
  font-size: 1.25rem;
  letter-spacing: 0px;
  border-style: solid;
  background-image: none;
  font-weight: 700;
  text-transform: none;
  margin: -61px auto 0 396px;
  padding: 13px 66px 14px 65px;
}

.u-section-1 .u-icon-7 {
  width: 64px;
  height: 64px;
  margin: -233px 255px 60px auto;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 523px;
  }

  .u-section-1 .u-text-1 {
    margin-right: 425px;
    margin-left: 0;
  }

  .u-section-1 .u-icon-1 {
    margin-top: 7px;
    margin-right: 165px;
  }

  .u-section-1 .u-icon-2 {
    margin-top: -214px;
    margin-right: 121px;
  }

  .u-section-1 .u-icon-3 {
    margin-top: -21px;
    margin-right: 32px;
  }

  .u-section-1 .u-text-2 {
    width: auto;
    margin-top: 45px;
    margin-right: 425px;
    margin-left: 0;
  }

  .u-section-1 .u-group-1 {
    margin-top: 20px;
    height: auto;
  }

  .u-section-1 .u-image-1 {
    margin-top: -55px;
  }

  .u-section-1 .u-image-2 {
    height: 22px;
    margin-left: 142px;
  }

  .u-section-1 .u-icon-4 {
    margin-top: 73px;
    margin-left: auto;
  }

  .u-section-1 .u-icon-5 {
    margin-right: 259px;
    margin-left: auto;
  }

  .u-section-1 .u-icon-6 {
    margin-left: 263px;
  }

  .u-section-1 .u-btn-1 {
    margin-top: -200px;
    margin-left: 0;
  }

  .u-section-1 .u-btn-2 {
    margin-top: -62px;
    margin-left: 323px;
  }

  .u-section-1 .u-icon-7 {
    margin-top: -264px;
    margin-right: 222px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 522px;
  }

  .u-section-1 .u-text-1 {
    width: auto;
    margin-top: 46px;
    margin-right: 205px;
  }

  .u-section-1 .u-icon-1 {
    margin-top: 45px;
  }

  .u-section-1 .u-text-2 {
    margin-top: 12px;
    margin-right: 205px;
  }

  .u-section-1 .u-group-1 {
    margin-top: 32px;
    margin-right: 42px;
  }

  .u-section-1 .u-icon-4 {
    margin-top: 104px;
  }

  .u-section-1 .u-icon-5 {
    margin-right: 149px;
  }

  .u-section-1 .u-icon-6 {
    margin-left: 158px;
  }

  .u-section-1 .u-btn-1 {
    margin-top: -216px;
  }

  .u-section-1 .u-btn-2 {
    margin-top: -61px;
    margin-right: 181px;
    margin-left: auto;
  }

  .u-section-1 .u-icon-7 {
    margin-top: -545px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-text-1 {
    margin-top: 71px;
    margin-right: 25px;
  }

  .u-section-1 .u-icon-1 {
    margin-top: -32px;
    margin-right: 36px;
  }

  .u-section-1 .u-icon-2 {
    margin-top: -182px;
    margin-right: auto;
    margin-left: 218px;
  }

  .u-section-1 .u-icon-3 {
    margin-top: -43px;
    margin-right: 97px;
  }

  .u-section-1 .u-text-2 {
    font-size: 1rem;
    margin-top: 61px;
    margin-right: 25px;
  }

  .u-section-1 .u-group-1 {
    margin-top: 20px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-text-3 {
    font-size: 1rem;
    margin-right: 92px;
    margin-left: 114px;
  }

  .u-section-1 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-icon-4 {
    margin-top: 143px;
    margin-right: 183px;
  }

  .u-section-1 .u-icon-5 {
    margin-top: -139px;
    margin-right: 49px;
  }

  .u-section-1 .u-icon-6 {
    margin-top: -141px;
    margin-left: 97px;
  }

  .u-section-1 .u-btn-1 {
    margin-top: -251px;
  }

  .u-section-1 .u-btn-2 {
    margin-top: -60px;
    margin-right: 0;
  }

  .u-section-1 .u-icon-7 {
    margin-top: -713px;
    margin-right: 167px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 607px;
  }

  .u-section-1 .u-text-1 {
    margin-top: 102px;
    margin-right: 0;
  }

  .u-section-1 .u-icon-1 {
    margin-top: -130px;
    margin-right: 39px;
  }

  .u-section-1 .u-icon-2 {
    margin-top: -72px;
    margin-left: 52px;
  }

  .u-section-1 .u-icon-3 {
    margin-top: -101px;
    margin-right: 126px;
  }

  .u-section-1 .u-text-2 {
    margin-top: 107px;
    margin-right: 0;
  }

  .u-section-1 .u-group-1 {
    width: 340px;
    margin-right: 0;
  }

  .u-section-1 .u-icon-4 {
    margin-top: 185px;
    margin-right: 93px;
  }

  .u-section-1 .u-icon-5 {
    margin-top: -141px;
    margin-right: -24px;
  }

  .u-section-1 .u-icon-6 {
    margin-top: -139px;
    margin-left: 0;
  }

  .u-section-1 .u-btn-1 {
    margin-top: -302px;
    margin-left: auto;
  }

  .u-section-1 .u-btn-2 {
    margin-top: 9px;
    margin-right: auto;
  }

  .u-section-1 .u-icon-7 {
    margin-top: -799px;
    margin-right: 105px;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 423px;
}

.u-section-2 .u-text-1 {
  font-family: Oswald-Bold;
  text-transform: uppercase;
  margin: 53px auto 0 88px;
}

.u-section-2 .u-image-1 {
  width: 208px;
  height: 201px;
  filter: brightness(0.55);
  margin: 44px auto 0 88px;
}

.u-section-2 .u-text-2 {
  font-family: Oswald-Bold;
  text-transform: uppercase;
  font-size: 1.5rem;
  margin: -180px 879px 0 101px;
}

.u-section-2 .u-line-1 {
  width: 182px;
  transform-origin: left center 0px;
  margin: 56px auto 0 101px;
}

.u-section-2 .u-text-3 {
  font-weight: 400;
  font-size: 0.75rem;
  margin: 10px 857px 0 101px;
}

.u-section-2 .u-image-2 {
  width: 199px;
  height: 201px;
  filter: brightness(0.55);
  margin: -183px auto 0 349px;
}

.u-section-2 .u-text-4 {
  font-family: Oswald-Bold;
  text-transform: uppercase;
  font-size: 1.5rem;
  margin: -180px 623px 0 357px;
}

.u-section-2 .u-line-2 {
  width: 182px;
  transform-origin: left center 0px;
  margin: 20px auto 0 357px;
}

.u-section-2 .u-text-5 {
  font-weight: 400;
  font-size: 0.75rem;
  margin: 20px 601px 0 357px;
}

.u-section-2 .u-image-3 {
  width: 199px;
  height: 201px;
  filter: brightness(0.55);
  margin: -191px auto 0 601px;
}

.u-section-2 .u-text-6 {
  font-family: Oswald-Bold;
  text-transform: uppercase;
  font-size: 1.5rem;
  margin: -179px 371px 0 609px;
}

.u-section-2 .u-line-3 {
  width: 182px;
  transform-origin: left center 0px;
  margin: 53px 349px 0 auto;
}

.u-section-2 .u-text-7 {
  font-weight: 400;
  font-size: 0.75rem;
  margin: 0 349px 0 609px;
}

.u-section-2 .u-image-4 {
  width: 199px;
  height: 201px;
  filter: brightness(0.55);
  margin: -190px auto 0 853px;
}

.u-section-2 .u-text-8 {
  font-family: Oswald-Bold;
  text-transform: uppercase;
  font-size: 1.5rem;
  margin: -179px 117px 0 864px;
}

.u-section-2 .u-line-4 {
  width: 182px;
  transform-origin: left center 0px;
  margin: 53px 97px 0 auto;
}

.u-section-2 .u-text-9 {
  font-weight: 400;
  font-size: 0.75rem;
  margin: 10px 95px 60px 864px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 630px;
  }

  .u-section-2 .u-image-1 {
    margin-top: 61px;
    margin-left: 224px;
  }

  .u-section-2 .u-text-2 {
    width: auto;
    margin-top: -176px;
    margin-right: 545px;
    margin-left: 235px;
  }

  .u-section-2 .u-line-1 {
    margin-top: 50px;
    margin-left: 235px;
  }

  .u-section-2 .u-text-3 {
    width: auto;
    margin-top: 15px;
    margin-right: 523px;
    margin-left: 235px;
  }

  .u-section-2 .u-image-2 {
    margin-top: -186px;
    margin-left: 517px;
  }

  .u-section-2 .u-text-4 {
    width: auto;
    margin-top: -177px;
    margin-right: 255px;
    margin-left: 525px;
  }

  .u-section-2 .u-line-2 {
    margin-top: 53px;
    margin-left: 525px;
  }

  .u-section-2 .u-text-5 {
    width: auto;
    margin-top: 5px;
    margin-right: 233px;
    margin-left: 525px;
  }

  .u-section-2 .u-image-3 {
    margin-top: 73px;
    margin-left: 517px;
  }

  .u-section-2 .u-text-6 {
    width: auto;
    margin-right: 255px;
    margin-left: 525px;
  }

  .u-section-2 .u-line-3 {
    margin-right: auto;
    margin-left: 525px;
  }

  .u-section-2 .u-text-7 {
    width: auto;
    margin-top: 5px;
    margin-right: 233px;
    margin-left: 525px;
  }

  .u-section-2 .u-image-4 {
    margin-top: -196px;
    margin-left: 229px;
  }

  .u-section-2 .u-text-8 {
    width: auto;
    margin-top: -180px;
    margin-right: 544px;
    margin-left: 237px;
  }

  .u-section-2 .u-line-4 {
    margin-top: 61px;
    margin-right: auto;
    margin-left: 237px;
  }

  .u-section-2 .u-text-9 {
    width: auto;
    margin: 7px 521px 16px 237px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1058px;
  }

  .u-section-2 .u-image-1 {
    margin-left: 129px;
  }

  .u-section-2 .u-text-2 {
    margin-top: -182px;
    margin-right: 419px;
    margin-left: 142px;
  }

  .u-section-2 .u-line-1 {
    margin-top: 45px;
    margin-left: 142px;
  }

  .u-section-2 .u-text-3 {
    margin-right: 397px;
    margin-left: 142px;
  }

  .u-section-2 .u-image-2 {
    margin-top: -177px;
    margin-left: 393px;
  }

  .u-section-2 .u-text-4 {
    margin-top: -187px;
    margin-right: 159px;
    margin-left: 401px;
  }

  .u-section-2 .u-line-2 {
    margin-left: 401px;
  }

  .u-section-2 .u-text-5 {
    margin-right: 137px;
    margin-left: 401px;
  }

  .u-section-2 .u-image-3 {
    margin-top: 53px;
    margin-left: 133px;
  }

  .u-section-2 .u-text-6 {
    margin-top: -186px;
    margin-right: 419px;
    margin-left: 141px;
  }

  .u-section-2 .u-line-3 {
    margin-left: 141px;
  }

  .u-section-2 .u-text-7 {
    margin-right: 397px;
    margin-left: 141px;
  }

  .u-section-2 .u-image-4 {
    margin-top: -189px;
    margin-left: 393px;
  }

  .u-section-2 .u-text-8 {
    margin-top: -181px;
    margin-right: 160px;
    margin-left: 401px;
  }

  .u-section-2 .u-line-4 {
    margin-top: 69px;
    margin-left: 401px;
  }

  .u-section-2 .u-text-9 {
    margin-right: 137px;
    margin-left: 401px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1015px;
  }

  .u-section-2 .u-image-1 {
    margin-top: 62px;
    margin-left: 67px;
  }

  .u-section-2 .u-text-2 {
    margin-top: -188px;
    margin-right: 301px;
    margin-left: 80px;
  }

  .u-section-2 .u-line-1 {
    margin-left: 80px;
  }

  .u-section-2 .u-text-3 {
    margin-right: 278px;
    margin-left: 80px;
  }

  .u-section-2 .u-image-2 {
    margin-top: 27px;
    margin-left: 275px;
  }

  .u-section-2 .u-text-4 {
    margin-top: -180px;
    margin-right: 92px;
    margin-left: 289px;
  }

  .u-section-2 .u-line-2 {
    margin-left: 289px;
  }

  .u-section-2 .u-text-5 {
    margin-right: 70px;
    margin-left: 289px;
  }

  .u-section-2 .u-image-3 {
    margin-top: 5px;
    margin-left: 76px;
  }

  .u-section-2 .u-text-6 {
    margin-top: -189px;
    margin-right: 296px;
    margin-left: 84px;
  }

  .u-section-2 .u-line-3 {
    margin-left: 84px;
  }

  .u-section-2 .u-text-7 {
    margin-right: 274px;
    margin-left: 84px;
  }

  .u-section-2 .u-image-4 {
    margin-top: 11px;
    margin-left: 275px;
  }

  .u-section-2 .u-text-8 {
    margin-top: -179px;
    margin-right: 92px;
    margin-left: 289px;
  }

  .u-section-2 .u-line-4 {
    margin-left: 289px;
  }

  .u-section-2 .u-text-9 {
    margin-right: 69px;
    margin-left: 289px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1042px;
  }

  .u-section-2 .u-text-1 {
    width: auto;
    margin-top: 47px;
    margin-left: 45px;
  }

  .u-section-2 .u-image-1 {
    margin-top: 45px;
    margin-left: auto;
  }

  .u-section-2 .u-text-2 {
    margin-top: -184px;
    margin-right: 102px;
    margin-left: 79px;
  }

  .u-section-2 .u-line-1 {
    margin-left: auto;
  }

  .u-section-2 .u-text-3 {
    width: 182px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-2 .u-image-2 {
    margin-top: 47px;
    margin-left: auto;
  }

  .u-section-2 .u-text-4 {
    width: 160px;
    margin-top: -189px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-2 .u-line-2 {
    margin-left: auto;
  }

  .u-section-2 .u-text-5 {
    width: 160px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-2 .u-image-3 {
    margin-top: 36px;
    margin-left: auto;
  }

  .u-section-2 .u-text-6 {
    margin-top: -186px;
    margin-right: 97px;
  }

  .u-section-2 .u-line-3 {
    margin-top: 45px;
  }

  .u-section-2 .u-text-7 {
    margin-top: 7px;
    margin-right: 97px;
  }

  .u-section-2 .u-image-4 {
    margin-top: 39px;
    margin-left: auto;
  }

  .u-section-2 .u-text-8 {
    margin-top: -183px;
    margin-right: 100px;
    margin-left: 81px;
  }

  .u-section-2 .u-line-4 {
    margin-top: 60px;
    margin-left: 81px;
  }

  .u-section-2 .u-text-9 {
    margin-right: 100px;
    margin-bottom: 54px;
    margin-left: 81px;
  }
} .u-section-3 {
  background-image: none;
  min-height: 1016px;
}

.u-section-3 .u-shape-1 {
  height: 125px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-3 .u-text-1 {
  font-family: Oswald-Bold;
  text-transform: uppercase;
  margin: 84px calc(((100% - 1140px) / 2) + 736px) 0 calc(((100% - 1140px) / 2) + 22px);
}

.u-section-3 .u-list-1 {
  width: 1097px;
  margin: 49px auto 0 calc(((100% - 1140px) / 2) + 22px);
}

.u-section-3 .u-repeater-1 {
  grid-template-columns: calc(25% - 15px) calc(25% - 15px) calc(25% - 15px) calc(25% - 15px);
  min-height: 375px;
  grid-gap: 20px 20px;
}

.u-section-3 .u-list-item-1 {
  background-image: none;
}

.u-section-3 .u-container-layout-1 {
  padding: 35px 20px;
}

.u-section-3 .u-group-1 {
  width: 145px;
  min-height: 145px;
  height: auto;
  margin: 0 auto;
}

.u-section-3 .u-shape-2 {
  width: 118px;
  height: 118px;
  margin: 0 -1px 0 auto;
}

.u-section-3 .u-icon-1 {
  height: 96px;
  width: 96px;
  background-image: none;
  margin: -69px auto 0 0;
  padding: 0;
}

.u-section-3 .u-text-2 {
  font-size: 1.5rem;
  text-transform: uppercase;
  font-weight: bold;
  margin: 30px 0 0;
}

.u-section-3 .u-text-3 {
  font-size: 0.888889rem;
  margin: 12px 0 0;
}

.u-section-3 .u-list-item-2 {
  background-image: none;
}

.u-section-3 .u-container-layout-3 {
  padding: 35px 20px;
}

.u-section-3 .u-group-2 {
  width: 145px;
  min-height: 145px;
  height: auto;
  margin: 0 auto;
}

.u-section-3 .u-shape-3 {
  width: 118px;
  height: 118px;
  margin: 0 -1px 0 auto;
}

.u-section-3 .u-icon-2 {
  height: 96px;
  width: 96px;
  background-image: none;
  margin: -69px auto 0 0;
  padding: 0;
}

.u-section-3 .u-text-4 {
  font-size: 1.5rem;
  text-transform: uppercase;
  font-weight: bold;
  margin: 30px 0 0;
}

.u-section-3 .u-text-5 {
  font-size: 0.888889rem;
  margin: 12px 0 0;
}

.u-section-3 .u-list-item-3 {
  background-image: none;
}

.u-section-3 .u-container-layout-5 {
  padding: 35px 20px;
}

.u-section-3 .u-group-3 {
  width: 145px;
  min-height: 145px;
  height: auto;
  margin: 0 auto;
}

.u-section-3 .u-shape-4 {
  width: 118px;
  height: 118px;
  margin: 0 -1px 0 auto;
}

.u-section-3 .u-icon-3 {
  height: 96px;
  width: 96px;
  background-image: none;
  margin: -69px auto 0 0;
  padding: 0;
}

.u-section-3 .u-text-6 {
  font-size: 1.5rem;
  text-transform: uppercase;
  font-weight: bold;
  margin: 30px 0 0;
}

.u-section-3 .u-text-7 {
  font-size: 0.888889rem;
  margin: 12px 0 0;
}

.u-section-3 .u-list-item-4 {
  background-image: none;
}

.u-section-3 .u-container-layout-7 {
  padding: 35px 20px;
}

.u-section-3 .u-group-4 {
  width: 145px;
  min-height: 145px;
  height: auto;
  margin: 0 auto;
}

.u-section-3 .u-shape-5 {
  width: 118px;
  height: 118px;
  margin: 0 -1px 0 auto;
}

.u-section-3 .u-icon-4 {
  height: 96px;
  width: 96px;
  background-image: none;
  margin: -69px auto 0 0;
  padding: 0;
}

.u-section-3 .u-text-8 {
  font-size: 1.5rem;
  text-transform: uppercase;
  font-weight: bold;
  margin: 30px 0 0;
}

.u-section-3 .u-text-9 {
  font-size: 0.888889rem;
  margin: 12px 0 0;
}

.u-section-3 .u-shape-6 {
  height: 125px;
  margin-top: 103px;
  margin-bottom: 0;
}

.u-section-3 .u-shape-7 {
  height: 125px;
  margin: -12px 0 0;
}

@media (max-width: 1199px) {
   .u-section-3 {
    min-height: 1034px;
  }

  .u-section-3 .u-shape-1 {
    margin-top: -6px;
  }

  .u-section-3 .u-text-1 {
    width: auto;
    margin-top: 90px;
    margin-left: calc(((100% - 1140px) / 2) + 179px);
    margin-right: calc(((100% - 1140px) / 2) + 179px);
  }

  .u-section-3 .u-list-1 {
    width: 940px;
    margin-left: calc(((100% - 1140px) / 2) + 100px);
  }

  .u-section-3 .u-repeater-1 {
    grid-template-columns: repeat(4, calc(25% - 15px));
    min-height: 319px;
  }

  .u-section-3 .u-group-1 {
    height: auto;
  }

  .u-section-3 .u-text-2 {
    font-size: 1.25rem;
  }

  .u-section-3 .u-group-2 {
    height: auto;
  }

  .u-section-3 .u-text-4 {
    font-size: 1.25rem;
  }

  .u-section-3 .u-group-3 {
    height: auto;
  }

  .u-section-3 .u-text-6 {
    font-size: 1.25rem;
  }

  .u-section-3 .u-group-4 {
    height: auto;
  }

  .u-section-3 .u-text-8 {
    font-size: 1.25rem;
  }

  .u-section-3 .u-shape-7 {
    margin-right: initial;
    margin-left: initial;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-text-1 {
    margin-left: calc(((100% - 1140px) / 2) + 264px);
    margin-right: calc(((100% - 1140px) / 2) + 264px);
  }

  .u-section-3 .u-list-1 {
    width: 720px;
    margin-left: calc(((100% - 1140px) / 2) + 210px);
  }

  .u-section-3 .u-repeater-1 {
    grid-template-columns: repeat(2, calc(50% - 10px));
    min-height: 722px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-top: 30px;
    padding-bottom: 30px;
  }

  .u-section-3 .u-container-layout-3 {
    padding-top: 30px;
    padding-bottom: 30px;
  }

  .u-section-3 .u-container-layout-5 {
    padding-top: 30px;
    padding-bottom: 30px;
  }

  .u-section-3 .u-container-layout-7 {
    padding-top: 30px;
    padding-bottom: 30px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-text-1 {
    margin-left: calc(((100% - 540px) / 2));
    margin-right: calc(((100% - 540px) / 2) + 158px);
  }

  .u-section-3 .u-list-1 {
    width: 540px;
    margin-left: calc(((100% - 540px) / 2));
  }

  .u-section-3 .u-repeater-1 {
    grid-template-columns: 100%;
  }

  .u-section-3 .u-shape-7 {
    margin-top: 20px;
    margin-right: initial;
    margin-left: initial;
  }
}

@media (max-width: 575px) {
   .u-section-3 {
    min-height: 2091px;
  }

  .u-section-3 .u-text-1 {
    margin-top: 144px;
    margin-left: calc(((100% - 340px) / 2));
    margin-right: calc(((100% - 340px) / 2));
  }

  .u-section-3 .u-list-1 {
    width: 340px;
    margin-left: calc(((100% - 340px) / 2));
  }

  .u-section-3 .u-text-3 {
    margin-top: 20px;
  }

  .u-section-3 .u-text-5 {
    margin-top: 20px;
  }

  .u-section-3 .u-text-7 {
    margin-top: 20px;
  }

  .u-section-3 .u-text-9 {
    margin-top: 20px;
  }

  .u-section-3 .u-shape-6 {
    margin-top: 138px;
  }

  .u-section-3 .u-shape-7 {
    margin-top: -15px;
    margin-right: initial;
    margin-left: initial;
  }
} .u-section-4 {
  background-image: none;
  min-height: 50vw;
}

.u-section-4 .u-text-1 {
  font-family: Oswald-Bold;
  text-transform: uppercase;
  margin: 143px auto 0 calc(((100% - 1140px) / 2) + 85px);
}

.u-section-4 .u-text-2 {
  font-weight: 400;
  margin: 20px calc(((100% - 1140px) / 2) + 581px) 0 calc(((100% - 1140px) / 2) + 85px);
}

.u-section-4 .u-shape-1 {
  width: 345px;
  height: 345px;
  margin: -273px calc(((100% - 1140px) / 2) + 82px) 0 auto;
}

.u-section-4 .u-text-3 {
  font-weight: 400;
  margin: -48px calc(((100% - 1140px) / 2) + 570px) 0 calc(((100% - 1140px) / 2) + 343px);
}

.u-section-4 .u-btn-1 {
  font-weight: 700;
  margin: -55px auto 0 calc(((100% - 1140px) / 2) + 85px);
  padding: 13px 52px 13px 51px;
}

.u-section-4 .u-image-1 {
  width: 587px;
  height: 289px;
  margin: -344px 0 0 auto;
}

.u-section-4 .u-image-2 {
  width: 165px;
  height: 165px;
  margin: -24px calc(((100% - 1140px) / 2) + 113px) 0 auto;
}

.u-section-4 .u-image-3 {
  width: 117px;
  height: 117px;
  margin: -117px calc(((100% - 1140px) / 2) + 47px) 0 auto;
}

.u-section-4 .u-text-4 {
  font-weight: 700;
  margin: -66px 215px 0 calc(((100% - 1140px) / 2) + 914px);
}

.u-section-4 .u-text-5 {
  font-weight: 700;
  font-size: 1rem;
  margin: -13px 128px 0 calc(((100% - 1140px) / 2) + 1008px);
}

.u-section-4 .u-shape-2 {
  height: 132px;
  margin-top: 94px;
  margin-bottom: 0;
}

.u-section-4 .u-text-6 {
  font-family: Oswald-Bold;
  margin: -91px auto 41px;
}

@media (max-width: 1199px) {
   .u-section-4 {
    min-height: 706px;
  }

  .u-section-4 .u-text-1 {
    margin-top: 102px;
    margin-left: calc(((100% - 1140px) / 2) + 185px);
  }

  .u-section-4 .u-text-2 {
    margin-right: calc(((100% - 1140px) / 2) + 481px);
    margin-left: calc(((100% - 1140px) / 2) + 185px);
  }

  .u-section-4 .u-shape-1 {
    margin-top: -297px;
    margin-right: calc(((100% - 940px) / 2));
  }

  .u-section-4 .u-text-3 {
    width: auto;
    margin-top: -31px;
    margin-right: calc(((100% - 940px) / 2) + 377px);
    margin-left: calc(((100% - 940px) / 2) + 336px);
  }

  .u-section-4 .u-btn-1 {
    margin-top: -52px;
    margin-left: calc(((100% - 940px) / 2) + 85px);
  }

  .u-section-4 .u-image-1 {
    width: 505px;
    height: 249px;
    margin-top: -307px;
    margin-right: calc(((100% - 940px) / 2) + -117px);
  }

  .u-section-4 .u-image-2 {
    margin-right: calc(((100% - 940px) / 2) + 53px);
  }

  .u-section-4 .u-image-3 {
    margin-right: calc(((100% - 940px) / 2) + -25px);
  }

  .u-section-4 .u-text-4 {
    width: auto;
    margin-top: -67px;
    margin-left: calc(((100% - 940px) / 2) + 774px);
  }

  .u-section-4 .u-text-5 {
    width: auto;
    margin-right: 129px;
    margin-left: calc(((100% - 940px) / 2) + 879px);
  }

  .u-section-4 .u-shape-2 {
    margin-top: 84px;
  }

  .u-section-4 .u-text-6 {
    width: auto;
    margin-top: -100px;
    margin-bottom: 48px;
  }
}

@media (max-width: 991px) {
   .u-section-4 {
    min-height: 923px;
  }

  .u-section-4 .u-text-1 {
    width: auto;
    margin-top: 96px;
    margin-left: calc(((100% - 720px) / 2));
  }

  .u-section-4 .u-text-2 {
    width: auto;
    margin-right: calc(((100% - 720px) / 2) + 246px);
    margin-left: calc(((100% - 720px) / 2));
  }

  .u-section-4 .u-shape-1 {
    width: 258px;
    height: 258px;
    margin-top: 112px;
    margin-right: auto;
    margin-left: 201px;
  }

  .u-section-4 .u-text-3 {
    margin-top: -350px;
    margin-right: calc(((100% - 720px) / 2) + 235px);
    margin-left: calc(((100% - 720px) / 2) + 258px);
  }

  .u-section-4 .u-btn-1 {
    margin-top: -57px;
    margin-left: calc(((100% - 720px) / 2));
  }

  .u-section-4 .u-image-1 {
    margin-top: 58px;
    margin-right: auto;
    margin-left: 99px;
  }

  .u-section-4 .u-image-2 {
    margin-top: -141px;
    margin-right: auto;
    margin-left: 478px;
  }

  .u-section-4 .u-image-3 {
    margin-right: auto;
    margin-left: 604px;
  }

  .u-section-4 .u-text-4 {
    margin-top: -61px;
    margin-right: auto;
    margin-left: 530px;
  }

  .u-section-4 .u-text-5 {
    margin-top: -20px;
    margin-right: auto;
    margin-left: 636px;
  }

  .u-section-4 .u-shape-2 {
    margin-top: 62px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-text-1 {
    margin-left: calc(((100% - 1140px) / 2) + 385px);
  }

  .u-section-4 .u-text-2 {
    margin-right: calc(((100% - 1140px) / 2) + 300px);
    margin-left: calc(((100% - 1140px) / 2) + 385px);
  }

  .u-section-4 .u-shape-1 {
    margin-top: 20px;
    margin-right: calc(((100% - 1140px) / 2) + 382px);
  }

  .u-section-4 .u-text-3 {
    margin-top: 20px;
    margin-right: calc(((100% - 1140px) / 2) + 570px);
    margin-left: calc(((100% - 1140px) / 2) + 343px);
  }

  .u-section-4 .u-btn-1 {
    margin-top: 20px;
    margin-left: calc(((100% - 1140px) / 2) + 385px);
  }

  .u-section-4 .u-image-1 {
    width: 587px;
    height: 289px;
    margin-left: 35px;
  }

  .u-section-4 .u-image-2 {
    margin-left: 375px;
  }

  .u-section-4 .u-image-3 {
    margin-left: 423px;
  }

  .u-section-4 .u-text-4 {
    margin-left: 398px;
  }

  .u-section-4 .u-text-5 {
    margin-left: 477px;
  }
}

@media (max-width: 575px) {
   .u-section-4 {
    min-height: 1034px;
  }

  .u-section-4 .u-text-1 {
    margin-top: 80px;
    margin-left: calc(((100% - 340px) / 2) + 35px);
  }

  .u-section-4 .u-text-2 {
    margin-top: 49px;
    margin-right: calc(((100% - 340px) / 2) + 50px);
    margin-left: calc(((100% - 340px) / 2) + 35px);
  }

  .u-section-4 .u-shape-1 {
    width: 194px;
    height: 194px;
    margin-top: 137px;
    margin-right: auto;
    margin-left: 86px;
  }

  .u-section-4 .u-text-3 {
    margin-top: -257px;
    margin-right: calc(((100% - 340px) / 2) + 78px);
    margin-left: calc(((100% - 340px) / 2) + 35px);
  }

  .u-section-4 .u-btn-1 {
    margin-top: -117px;
    margin-left: calc(((100% - 340px) / 2) + 35px);
  }

  .u-section-4 .u-image-1 {
    width: 340px;
    height: 168px;
    margin-top: 106px;
    margin-left: 25px;
  }

  .u-section-4 .u-image-2 {
    margin-top: -28px;
    margin-left: 178px;
  }

  .u-section-4 .u-image-3 {
    margin-top: -123px;
    margin-left: 298px;
  }

  .u-section-4 .u-text-4 {
    margin-left: 234px;
  }

  .u-section-4 .u-text-5 {
    margin-top: -16px;
    margin-right: 57px;
    margin-left: calc(((100% - 340px) / 2) + 280px);
  }

  .u-section-4 .u-shape-2 {
    margin-top: 60px;
  }

  .u-section-4 .u-text-6 {
    margin-bottom: 60px;
  }
}.u-section-5 .u-sheet-1 {
  min-height: 1266px;
}

.u-section-5 .u-list-1 {
  grid-template-rows: auto;
  height: auto;
  margin: 60px auto 0 0;
}

.u-section-5 .u-repeater-1 {
  grid-template-columns: calc(33.3333% - 6.66667px) calc(33.3333% - 6.66667px) calc(33.3333% - 6.66667px);
  grid-gap: 10px 10px;
  min-height: 490px;
}

.u-section-5 .u-list-item-1 {
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.1);
}

.u-section-5 .u-container-layout-1 {
  padding: 27px 30px;
}

.u-section-5 .u-image-1 {
  height: 243px;
  margin: 3px auto 0 0;
}

.u-section-5 .u-text-1 {
  font-weight: 700;
  text-transform: uppercase;
  background-image: none;
  margin: 20px auto 0 0;
}

.u-section-5 .u-text-2 {
  margin: 20px auto 0 0;
}

.u-section-5 .u-text-3 {
  font-weight: 700;
  font-size: 1.125rem;
  text-transform: none;
  margin: 20px auto 0 0;
}

.u-section-5 .u-btn-1 {
  text-transform: uppercase;
  font-weight: 700;
  background-image: none;
  font-size: 0.875rem;
  margin: -32px 0 0 auto;
}

.u-section-5 .u-list-item-2 {
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.1);
}

.u-section-5 .u-container-layout-2 {
  padding: 27px 30px;
}

.u-section-5 .u-image-2 {
  height: 243px;
  margin: 3px auto 0 0;
}

.u-section-5 .u-text-4 {
  font-weight: 700;
  text-transform: uppercase;
  background-image: none;
  margin: 20px auto 0 0;
}

.u-section-5 .u-text-5 {
  margin: 20px auto 0 0;
}

.u-section-5 .u-text-6 {
  font-weight: 700;
  font-size: 1.125rem;
  text-transform: none;
  margin: 20px auto 0 0;
}

.u-section-5 .u-btn-2 {
  text-transform: uppercase;
  font-weight: 700;
  background-image: none;
  font-size: 0.875rem;
  margin: -32px 0 0 auto;
}

.u-section-5 .u-list-item-3 {
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.1);
}

.u-section-5 .u-container-layout-3 {
  padding: 27px 30px;
}

.u-section-5 .u-image-3 {
  height: 243px;
  margin: 3px auto 0 0;
}

.u-section-5 .u-text-7 {
  font-weight: 700;
  text-transform: uppercase;
  background-image: none;
  margin: 20px auto 0 0;
}

.u-section-5 .u-text-8 {
  margin: 20px auto 0 0;
}

.u-section-5 .u-text-9 {
  font-weight: 700;
  font-size: 1.125rem;
  text-transform: none;
  margin: 20px auto 0 0;
}

.u-section-5 .u-btn-3 {
  text-transform: uppercase;
  font-weight: 700;
  background-image: none;
  font-size: 0.875rem;
  margin: -32px 0 0 auto;
}

.u-section-5 .u-list-2 {
  grid-template-rows: auto;
  margin-top: 20px;
  margin-bottom: 0;
}

.u-section-5 .u-repeater-2 {
  grid-template-columns: calc(33.3333% - 6.66667px) calc(33.3333% - 6.66667px) calc(33.3333% - 6.66667px);
  grid-gap: 10px 10px;
  min-height: 530px;
}

.u-section-5 .u-list-item-4 {
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.1);
}

.u-section-5 .u-container-layout-4 {
  padding: 29px 30px;
}

.u-section-5 .u-image-4 {
  height: 243px;
  margin: 1px auto 0 0;
}

.u-section-5 .u-text-10 {
  font-weight: 700;
  text-transform: uppercase;
  background-image: none;
  margin: 20px auto 0 0;
}

.u-section-5 .u-text-11 {
  margin: 20px auto 0 0;
}

.u-section-5 .u-text-12 {
  font-weight: 700;
  font-size: 1.125rem;
  text-transform: none;
  margin: 20px auto 0 0;
}

.u-section-5 .u-btn-4 {
  text-transform: uppercase;
  font-weight: 700;
  background-image: none;
  margin: -34px 0 0 auto;
}

.u-section-5 .u-list-item-5 {
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.1);
}

.u-section-5 .u-container-layout-5 {
  padding: 29px 30px;
}

.u-section-5 .u-image-5 {
  height: 243px;
  margin: 1px auto 0 0;
}

.u-section-5 .u-text-13 {
  font-weight: 700;
  text-transform: uppercase;
  background-image: none;
  margin: 20px auto 0 0;
}

.u-section-5 .u-text-14 {
  margin: 20px auto 0 0;
}

.u-section-5 .u-text-15 {
  font-weight: 700;
  font-size: 1.125rem;
  text-transform: none;
  margin: 20px auto 0 0;
}

.u-section-5 .u-btn-5 {
  text-transform: uppercase;
  font-weight: 700;
  background-image: none;
  margin: -34px 0 0 auto;
}

.u-section-5 .u-list-item-6 {
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.1);
}

.u-section-5 .u-container-layout-6 {
  padding: 29px 30px;
}

.u-section-5 .u-image-6 {
  height: 243px;
  margin: 1px auto 0 0;
}

.u-section-5 .u-text-16 {
  font-weight: 700;
  text-transform: uppercase;
  background-image: none;
  margin: 20px auto 0 0;
}

.u-section-5 .u-text-17 {
  margin: 20px auto 0 0;
}

.u-section-5 .u-text-18 {
  font-weight: 700;
  font-size: 1.125rem;
  text-transform: none;
  margin: 20px auto 0 0;
}

.u-section-5 .u-btn-6 {
  text-transform: uppercase;
  font-weight: 700;
  background-image: none;
  margin: -34px 0 0 auto;
}

.u-section-5 .u-btn-7 {
  font-size: 0.9375rem;
  font-weight: 700;
  background-image: none;
  margin: 44px auto 46px;
  padding: 8px 179px 8px 178px;
}

@media (max-width: 1199px) {
  .u-section-5 .u-list-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-5 .u-image-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-5 .u-btn-1 {
    margin-top: 20px;
  }

  .u-section-5 .u-image-2 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-5 .u-btn-2 {
    margin-top: 20px;
  }

  .u-section-5 .u-image-3 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-5 .u-btn-3 {
    margin-top: 20px;
  }

  .u-section-5 .u-repeater-2 {
    grid-template-columns: repeat(3, calc(33.333333333333336% - 6.66667px));
    min-height: 435px;
  }

  .u-section-5 .u-image-4 {
    height: 192px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-5 .u-btn-4 {
    margin-top: 20px;
  }

  .u-section-5 .u-image-5 {
    height: 192px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-5 .u-btn-5 {
    margin-top: 20px;
  }

  .u-section-5 .u-image-6 {
    height: 192px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-5 .u-btn-6 {
    margin-top: 20px;
  }
}

@media (max-width: 991px) {
  .u-section-5 .u-repeater-1 {
    grid-template-columns: calc(50% - 5px) calc(50% - 5px);
  }

  .u-section-5 .u-btn-1 {
    margin-top: -32px;
  }

  .u-section-5 .u-btn-2 {
    margin-top: -32px;
  }

  .u-section-5 .u-btn-3 {
    margin-top: -32px;
  }

  .u-section-5 .u-repeater-2 {
    grid-template-columns: repeat(2, calc(50% - 5.0000025px));
    min-height: 1017px;
  }

  .u-section-5 .u-image-4 {
    height: 227px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-5 .u-btn-4 {
    margin-top: -34px;
  }

  .u-section-5 .u-image-5 {
    height: 227px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-5 .u-btn-5 {
    margin-top: -34px;
  }

  .u-section-5 .u-image-6 {
    height: 227px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-5 .u-btn-6 {
    margin-top: -34px;
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-list-1 {
    width: 540px;
    margin-right: auto;
    margin-left: -3px;
  }

  .u-section-5 .u-repeater-1 {
    grid-template-columns: 100%;
  }

  .u-section-5 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-5 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-5 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-5 .u-repeater-2 {
    grid-template-columns: 100%;
  }

  .u-section-5 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-5 .u-image-4 {
    height: 393px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-5 .u-container-layout-5 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-5 .u-image-5 {
    height: 393px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-5 .u-container-layout-6 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-5 .u-image-6 {
    height: 393px;
    margin-right: initial;
    margin-left: initial;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-sheet-1 {
    min-height: 3356px;
  }

  .u-section-5 .u-list-1 {
    width: 340px;
    margin-left: 0;
  }

  .u-section-5 .u-image-4 {
    height: 242px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-5 .u-image-5 {
    height: 242px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-5 .u-image-6 {
    height: 242px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-5 .u-btn-7 {
    padding-right: 110px;
    padding-left: 110px;
  }
}.u-section-6 .u-sheet-1 {
  min-height: 755px;
}

.u-section-6 .u-layout-wrap-1 {
  margin: 60px auto;
}

.u-section-6 .u-layout-cell-1 {
  min-height: 177px;
}

.u-section-6 .u-container-layout-1 {
  padding: 20px 35px 0;
}

.u-section-6 .u-text-1 {
  font-weight: 700;
  font-family: Oswald-Bold;
  margin: 0 0 0 25px;
}

.u-section-6 .u-layout-cell-2 {
  min-height: 468px;
}

.u-section-6 .u-container-layout-2 {
  padding: 10px 50px 30px;
}

.u-section-6 .u-form-1 {
  margin: 0;
}

.u-section-6 .u-btn-1 {
  background-image: none;
  width: 100%;
  padding: 9px 0 11px;
}

.u-section-6 .u-layout-cell-3 {
  min-height: 607px;
}

.u-section-6 .u-container-layout-3 {
  padding: 30px 0;
}

.u-section-6 .u-image-1 {
  width: 552px;
  height: 433px;
  margin: 0 auto 0 0;
}

@media (max-width: 1199px) {
  .u-section-6 .u-sheet-1 {
    min-height: 561px;
  }

  .u-section-6 .u-layout-wrap-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-6 .u-layout-cell-1 {
    min-height: 146px;
  }

  .u-section-6 .u-text-1 {
    margin-left: 0;
  }

  .u-section-6 .u-layout-cell-2 {
    min-height: 386px;
  }

  .u-section-6 .u-layout-cell-3 {
    min-height: 501px;
  }

  .u-section-6 .u-image-1 {
    width: 465px;
    height: 364px;
  }
}

@media (max-width: 991px) {
  .u-section-6 .u-sheet-1 {
    min-height: 455px;
  }

  .u-section-6 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-6 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-6 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-6 .u-container-layout-2 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-6 .u-layout-cell-3 {
    min-height: 384px;
  }

  .u-section-6 .u-image-1 {
    width: 355px;
    height: 278px;
  }
}

@media (max-width: 767px) {
  .u-section-6 .u-sheet-1 {
    min-height: 828px;
  }

  .u-section-6 .u-container-layout-1 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-6 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-6 .u-layout-cell-3 {
    min-height: 576px;
  }
}

@media (max-width: 575px) {
  .u-section-6 .u-sheet-1 {
    min-height: 636px;
  }

  .u-section-6 .u-layout-cell-3 {
    min-height: 363px;
  }

  .u-section-6 .u-image-1 {
    width: 340px;
    height: 266px;
  }
}@font-face {
  font-family: 'Oswald-Bold';
  font-style: normal;
  font-weight: 400;
  src: url(fonts/Oswald-Bold.ttf);
}